.layout{
    display: grid;
    grid-template-columns: 1fr 4fr;

    .menu{
        background: var(--bgSoft);
        padding: 20px;
    }

    .content{
        display: grid;
        grid-template-rows: min-content 1fr min-content;
        row-gap: 20px;
        padding: 20px;
    }
}

.page{
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 20px;

    .main{
        display: grid;
        grid-auto-flow: row;
        row-gap: 20px;

        .cards{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 20px;
        }



    }



    .side{

    }
}