.search{
    display: grid;
    grid-auto-flow: column;
    column-gap: 10px;
    justify-content: start;
    align-content: center;
    align-items: center;
    background-color: var(--bgHover);
    padding: 10px;
    border-radius: 10px;
    
    
    .input{
        background-color: transparent;
        border: none;
        color: var(--text);
    }
}